.App {
  text-align: center;
  background: var(--second-bg);
}

.app__container {
  margin: 0 auto;
  width: 800px;
  min-height: 100vh;
}

.app__title {
  font-size: 3rem;
  padding-bottom: 32px;
  padding-top: 16px;
  color: var(--second-color)
}

.app__form-fields-container {
  display: flex;
  justify-content: space-between;
}

.app__field {
  position: relative;
  height: 48px;
  width: 320px;
  background-color: var(--main-bg);
  display: flex;
  align-items: center;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  overflow: hidden;
  margin-bottom: 24px;
}

.app__field > input {
  height: 100%;
  width: 100%;
  padding: 8px 64px 8px 24px;
  font-size: 1rem;
  border-radius: var(--border-radius);
  color: var(--txt-color);
  background-color: var(--main-bg);
}

input:focus {
  border:2px solid var(--main-color);
}

.app-submit {
  background: linear-gradient(-45deg, var(--main-color), #9f69fe, var(--second-color));
  width: 100%;
  background-size: 800% 400%;
  padding: 1em 2em;
  display: inline-block;
  border: none;
  border-radius: var(--border-radius);
  font-size: 16px;
  font-weight: 700;
  color: white;
  transition: all .5s ease-in-out;
  animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
  margin-top: 16px;
  margin-bottom: 24px;
}

.app-submit:hover {
  animation: gradient 3s infinite;
  transform: scale(1.05);
}

.app-submit:active {
  animation: gradient 3s infinite;
  transform: scale(0.8);
}

.app__matrix-element {
  font-size: 2rem;
  margin: 25px;
  min-width: 36px;
}

.app__matrix {
  border-radius: var(--border-radius);
  background-color: var(--main-bg);
  min-height: 240px;
  box-shadow: var(--box-shadow);
  align-items: center;
}

.app__matrix-message {
  padding-top: 48px;
  font-size: 1.2rem;
}

.app__matrix-row {
  display: flex;
  justify-content: space-around;
}

.app__performance-info {
  font-size: 1.4rem;
  padding: 24px;
}